@media (min-width: 768px) and (max-width: 992px) {
  .hero h1 {
    font-size: calc(5vw + 3px);
  }
  .hero-text {
    font-size: calc(2vw + 5px);
  }

  .cta-button {
    font-size: calc(1.5vw + 8px) !important;
  }
  .cta-button .icon-wrapper {
    padding: 3px;
  }
  .cta-button svg {
    scale: 2;
    padding-top: 7px;
  }

  /* NAV ****************************/
  nav ul li {
    margin: 0 .5rem;
  }
  nav ul li a {
    flex-wrap: wrap;
    white-space: nowrap;
    font-size: calc(2.4vw + 10%) !important;
  }

  .btn-plus {    /* en savoir plus */
    width: 17vw;
  }
  }

/*******************************/
/*******************************/
@media (min-width: 375px) and (max-width: 767px) {
  .logo_titre {
    justify-content: center;
  }
  h1 {
    -webkit-text-stroke: 1px var(--light-blue);
    font-size: calc(6vw + 5px);
    white-space: nowrap;
  }
  .hero-text {
    width: 100%;
    text-align: center;
    font-size: calc(2vw + 10px);
    margin-bottom: 5%;
  }

  /* CTA **************************/
  .cta-button .icon-wrapper{
    width: 37px;
  }
  .cta-button {
    margin: 30px auto 2rem;
    transform: translateX(2vw);
  }
  .cta-button svg{
    scale: 1.5;
  }

  /* NAV **************************/
  nav {
    display: block;
    background: none;
    border: none;
    height: 10vh;
  }
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 20px;
    border: solid 3px var(--light-blue);
    height: 32vh;
  }
  nav ul li {
    margin: 0.5rem 0;
  }
  nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .burger-menu-button{
    display: block;
    scale: 2;
  }

  /*******************************/

  .river-card, .boat-card {
    width: 100%;
  }

  .btn-plus {    /* en savoir plus */
    width: 31vw;
  }

  footer{
    font-size: calc(2vw + 40%);
  }
}
