*{
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  height: 100vh;
}

/* Banniere header *******************/
.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.hero-content-accueil {
  margin-top: -50px;
  z-index: 2;
  width: 100%; /* agit sur centrage de smartphone */
}
.hero-content-accueil .logo {  /* gouvernail */
  width: calc(8vw + 25px);
  position: relative;
  top: -1vh;
  right: 2vw;
  
}
.h1-home {
  font-size: calc(4vw + 10px);
  -webkit-text-stroke: 2px var(--light-blue);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  right: 2vw;
}

.hero-text {
  background-color: rgba(52, 152, 219, 0.8);
  color: white;
  padding: 2rem;
  border-radius: 8px;
  font-size: calc(0.7vw + 15px);
  text-align: center;
  margin-bottom: 1.5rem;
  border: 2px solid var(--light-blue);
}

#scroll-to-top i {
  font-size: 1.5rem;
}

/* CTA ***********************/
.cta-button {
  display: flex;
  align-items: center;
  color: #333;
  padding: 0.2rem 1rem;
  border: 3px solid var(--medium-blue);
  border-radius: 15px;
  font-size: calc(0.5vw + 15px);
  font-weight: 600;
  cursor: pointer;
  z-index: 2;
  margin-top: 2rem;
}
.cta-button:hover {
  transform: scale(1.05);
}
.cta-button .icon-wrapper {
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: var(--medium-blue);
  margin-left: 14px;
  padding: 12px;
  height: 5vh;
}
.cta-button svg {
  width: 30px;
  height: calc(0.7vw + 10px);
  fill: white;
}

/* gallery ***********************/
.hero-gallery {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  animation: slideShow 50s infinite; /* nouvel image (50s) toutes les 10 secondes */
}
.hero-gallery img {
  width: 20%;
  object-fit: cover;
}

/* Animation gallery *************************/
@keyframes slideShow {
  0%,
  20% {
    transform: translateX(0);
  }
  25%,
  45% {
    transform: translateX(-20%);
  }
  50%,
  70% {
    transform: translateX(-40%);
  }
  75%,
  95% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-80%);
  }
}

/* Burger *****************/
#menu-burger, .hamburger, .close-menu {
  display: none;
}

/* Nav */
#nav-ban {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: var(--secondary-color);
  width: 100%;
  height: 10vh;
  z-index: 30;
  border: 5px solid var(--light-blue);
  border-radius: 5px;
}
#nav-ban li {
  list-style-type: none;
  padding-right: 2.8%;
  white-space: nowrap;
}
#nav-ban a {
  font-size: calc(0.7vw + 16px);
  color: white;
  text-decoration: none;
}

/* Styles pour loupe et champ de recherche */
.research-contain {
  display: none;
  position: relative;
  top: -7vh;
  width: 100%;
  margin: 0 auto !important;
  z-index: 100;
  height: 0;
}
.research-icone {
  display: block;
  margin-left: 1.5rem;
  transform: scale(1.8);
  cursor: pointer;
}
.research-contain.active {
  display: flex;
  align-items: center;
}
.research-inp {    /* Champ de recherche */
  background-color: var(--secondary-color);
  height: 10vh !important;
  padding: 0 20px;
  border: none;
  margin-bottom: -0.7vh !important;
  color: #fff;
  border: solid red 5px;
}
.research-inp::placeholder {
  opacity: 1;
  font-size: 1.3rem;
  -webkit-text-fill-color: #fff; /* obligatoire pour chrome */
}
.fermeture {
  position: absolute;
  right: 80px;
  top: -1vh;
  cursor: pointer;
  transform: scale(1.7);
  color: #fff;
  background: none;
  border: none;
}

/* Main ******************/
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

#fleuves h2,
#bateaux h2 {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.6rem;
}
/* .river-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
} */

.river-list,
.boat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}
.river-card, .boat-card { 
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.river-card-content {
  padding: 1rem;
  text-align: center;
}
.river-card:hover, .boat-card:hover {
  transform: scale(1.01);
}
.river-card img, .boat-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.river-card h2, .boat-card h2 {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
}
.river-card,
.boat-card {
  width: calc(50% - 1rem);
}
.river-card p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.boat-card p {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  font-size: 1.2rem;
}
.boat-features {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 1rem auto;
  font-size: 1.1rem;
  color: var(--secondary-color);
}
.boat-card .btn-plus {
  margin-top: 2rem;
  margin-bottom: 2.7%;
}
.btn-plus {   /* En savoir plus */
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 15vw;
  background: var(--medium-blue);
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 1.2rem;
}
.btn-plus:hover {
  color: white;
}

/* Style pour full screen */
.fullscreen-image-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 100;
}
.fullscreen-image-container img {
  max-width: 90%;
  max-height: 90%;
  min-width: 600px;
  min-height: 600px;
  object-fit: contain;
}
.fullscreen-image-container.active {
  display: flex; /* Afficher lorsque actif */
}

.fullscreen-image-container .close-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}

/**********************/
/**********************/
@media (min-width: 768px) and (max-width: 992px) {
  .logo_titre {
    position: relative;
    left: 14vw;
  }
  .cta-button {
    position: relative;
    left: 32%;
  }
  #nav-ban {
    padding: 0;
    height: 17vh;
  }
  #nav-ban li {
    position: relative;
    top: -1.5rem;
    left: 0.5rem;
  }
  #nav-ban li a {
    font-size: 1.3rem;
  }
  .research-contain {
    top: -11vh;
  }
  .research-icone {
    position: absolute;
    top: 9vh;
  }
  .research-inp {
    height: 16.5vh !important;
  }
  .river-card p {
    font-size: 1.1rem;
  }
  .btn-plus {
    width: 21vw;
  }
}

/**********************/
/**********************/
@media (min-width: 375px) and (max-width: 767px) {
  .hero-gallery {
    height: 105%;  
  }
  .logo_titre {  
    justify-content: center;
  }
  .logo_titre .logo {   /* gouvernail */
    margin-top: 1rem;   
    width: calc(5vw + 3.5rem);
  }
  .h1-home {
    font-size: calc(4.5vw + 12px);
    white-space: nowrap;
    margin-top: 0.5rem;
    color: #fff;
  }
  .icon-wrapper {  /* Btn */  
    height: 2rem !important;
    width: 2rem !important;
  }
  .icon-wrapper svg {
    transform: scale(1.5);
  }
  #nav-ban {
    display: none;
  }
  .cta-button {
    margin: 0 auto;
    min-width: 35vw;
    padding: 15px;
  }

  /* hamburger ******************/
  .hamburger {
    display: block;
  }
  .hamburger i {
    display: flex;
    justify-content: center;
    transform: scale(2.5);
    color: white;
    margin-top: -8vh;
    margin-bottom: 5rem;
  }
  #menu-burger {
    display: block;
    z-index: 10;
    backdrop-filter: blur(12px);
    background-color: rgba(52, 152, 219, 0.8);
    border-radius: 0;
    transform: translateX(-110%);
    transition: transform 0.3s ease;
    position: absolute;
    top: 0;
    min-height: 36rem !important;
    width: 100vw;
  }
  .menu-open #menu-burger {
    transform: translateX(-2rem);
    padding: 0;
  }
  #menu-burger li {
    list-style-type: none;
    margin-top: 5.5vh;
  }
  #menu-burger li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    line-height: 0.9;
  }

  /* Styling de la croix avec animation */
  .close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  /* Affichage de la croix avec transition */
  .menu-active .close-menu {
    opacity: 1;
  }

  /* Loupe ***************/
  .search-container {
    display: flex;
    align-items: center;
    display: none; /* placé volontairement ici en dessous */
    height: 28vh;  
    position: absolute;
    top: 23rem;
  }
  .search-container.active{
    right: 0;
  }
  .loupe-menu-burger {    
    position: absolute;
    top: 56.5vh !important;
    right: 47.5%;
  }
  .menu-open .loupe-menu-burger {
    display: block;
    position: absolute;
    top: 33rem;
    transform: scale(1.8);
    cursor: pointer;
  }
  .recherche-inp {  /* champ de rcherche */     
    border-radius: 8px !important;
    font-size: 1.3rem !important;
    width: 85vw !important;
    padding: 0 20px !important;
    position: relative;    
    left: 8%;   
   
  }
  .close-search {       
    position: absolute;  
    bottom: 19%;
    right: 10%;
    color: #333 !important;
    transform: scale(1.6) !important;      
  }
 
  /* Main ******************/
  .river-card, .boat-card {
    width: 100%;
  }
  #fleuves h2, #bateaux h2 {
    margin-top: 0;
  }
  .river-card p {
    text-align: center;
    margin-bottom: 5%;
  }
  .boat-features {
    flex-direction: column;
  }
  .boat-card h2{
    margin-top: 2rem !important;
  }
  .boat-features span {
    text-align: center;
  }
  .btn-plus {
    width: 40vw;
  }
  footer p {
    font-size: calc(1.3vw + 10px);
    white-space: pre-wrap;
  }
}
