@media (min-width: 768px) and (max-width: 992px) {
.hero h1 {
  font-size: calc(5vw + 3px); 
}    
.hero-text {
  font-size: calc(2vw + 5px);
}    
.cta-button {      
  font-size: calc(1.5vw + 8px) !important;  
}   
.cta-button .icon-wrapper {
  padding: 3px;
}

/* NAV ****************************/       
nav ul li a {
    white-space: nowrap;
    font-size: calc(2.4vw + 10%) !important; 
}    
}

/*******************************/
/*******************************/
@media (min-width: 375px) and (max-width: 767px) {
.logo_titre {  
  justify-content: center; 
  margin-top: -10vh;
} 
h1 {
  -webkit-text-stroke: 1px var(--light-blue); 
  font-size: calc(6vw + 5px); 
  white-space: nowrap;
}    
.hero-text {
  width: 100%;
  text-align: center;
  font-size: calc(2vw + 10px);  
  margin-bottom: 5%;
}  
.cta-button {
  margin: 80px auto 2rem;
  transform: translateX(2vw);
}
.cta-button .icon-wrapper svg{
  scale: 1.4;
}

/* NAV ****************************/
nav{ 
  display: block;
  background: none;
  border: none;  
  height: 10vh;  
}
nav ul {  
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  background-color: var(--secondary-color);
  border-radius: 20px;  
  border: solid 3px var(--light-blue);
  height: 32vh;
}
nav ul li {
  margin: .5rem 0;
}
nav ul li a {  
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.6;
}

#mobile-menu{
  position: fixed;
  top: 400px;
}
.hamburger-menu {
  display: block;
  width: 60px;
  height: 60px;
  position: relative;
  /* z-index: -2; */
  cursor: pointer;
  background: none;
  border: none;
}
.hamburger-icon {
  width: 30px;
  height: 20px;
  position: absolute;
  top: 5vh;
  left: 50vw;
  transform: translate(-100%, -50%);
}
.hamburger-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  top: 0;
  background: white;
  border-radius: 3px; 
}

/* .hamburger-icon span:nth-child(1) {
  top: 0px;
}
.hamburger-icon span:nth-child(2) {
  top: 8px;
}
.hamburger-icon span:nth-child(3) {
  top: 16px;
} */

 /* Utilisation du :target pour afficher/masquer le menu */
 #mobile-menu:target {
  display: block;
}
/* 
#mobile-menu:target + .hamburger-menu .hamburger-icon span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

#mobile-menu:target + .hamburger-menu .hamburger-icon span:nth-child(2) {
  opacity: 0;
}

#mobile-menu:target + .hamburger-menu .hamburger-icon span:nth-child(3) {
  transform: rotate(-45deg);
  top: 8px;
} */

/*******************************/

.river-card, .boat-card {
    width: 100%;
}    
}