body{
    scroll-behavior: smooth;
    background-color: #ecf0f1;
}

/* Burger *****************/
.burger, .close-menu{
    display: none;
}

nav{
  position: fixed;
  top: 0; 
}

section{  
  background-image: url("../src/images/Bateau_sur_fleuve_nocturne.png"); 
  background-repeat: no-repeat;     
  object-fit: cover;
  color: #fff;
  font-weight: bolder;    
  height: 60rem;
  margin: 10rem 9vw;
}

/* Nouveaux styles pour la page de contact */
#contact-container {
  display: flex;  
  width: 65vw;
  margin: 2rem auto;
}
.h1-contact{
  text-align: center;
  padding: 1.8rem;
  font-size: calc(1.1vw + 1.2rem);
}
.contact-title p{
  text-align: center;
  font-size: 1.2rem;
  width: 82%;
  margin: 0 auto;
}
.contact-form {
  flex: 2;
  margin-right: 3rem;
}
.contact-form  h2{
  text-decoration: underline;
}
#contact-info {
  flex: 1;
}
#contact-info h2{
  margin-bottom: 10%;
  text-decoration: underline;
}
.contact-form h2, .contact-form h3, #contact-info h2, #contact-info h3{
  white-space: nowrap;
}
#contact-info p, #contact-info span {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
#contact-info a{
  font-size: 1.1rem; 
  color: #fff;  
  text-decoration: none; 
}
  
form {
  display: flex;
  flex-direction: column;
}
label {
  margin-top: 1rem;
  font-weight: bold;
}
input, textarea {
  margin-top: 0.5rem;  
}

.socio-media{
  scale: 1.3;
  margin-left: 13%; 
}
.socio-media svg{
  fill: var(--secondary-color); 
}

input[type="submit"]{
  background-color: var(--secondary-color);
  color: white;
  border: none; 
  outline: none;
  font-size: 1.2rem;
  border-radius: 30px;
  width: 100%;
  margin: 5% 0 -40vh;
  padding: .7rem;
  letter-spacing: 2px;
}

/***************************/
/***************************/
@media (min-width: 768px) and (max-width: 992px){
#menu{
  padding-right: 4.5rem;
  white-space: nowrap;
}
nav ul li {
  margin: 0 .7rem !important;
}
nav ul li a{
  font-size: calc(.6vw + 15px) !important;
}
.contact-title p{
  font-size: calc(2.2vw + 2px) !important;
  width: 90%;
}
#contact-container h2, #contact-info h2{
  font-size: calc(3.5vw - 5px) !important;
}
}

/***************************/
/***************************/
@media (min-width: 375px) and (max-width: 767px){
  .burger {    
    color: #000 !important;   
    left: 49% !important;
  }
 nav{
   position: inherit;
  }  
  .close-search{
    top: 18% !important;
    right: 3rem !important;
  } 
  #contact-container{
    height: 130vh;
  }
  .contact-title{
    margin-top: -7rem;
  }
  .h1-contact{
    padding-bottom: 2%;
  }
  .contact-title p, .contact-form h2{
    text-align: center;
  }
  .contact-form{
    margin: 0;
  }
  .contact-form h2{
    padding-top: 2.5rem;   
  }
  #contact-container{
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  #contact-info{
    text-align: center;
    margin-top: 64vh;  
    color: #333;
  }
  #contact-info h2{
    margin-bottom: 1rem;
  }
  #contact-info a{
    margin-left: -.8rem; 
    color: inherit;
  }
  #contact-info p{
    white-space: nowrap;
  }
  #contact-info span{
    font-size: 1.05rem;
    padding-bottom: 1rem;
  }
  .socio-media{
    margin-left: 0;
    letter-spacing: 15px;
  }
  .newsletter{
    margin-top: 55rem !important;
  }
  .newsletter-form h2 {
    font-size: calc(1.1vw + 1.1rem) !important;    
  }
  footer p{
    font-size: calc(1.5vw + .7rem) !important;     
    white-space: pre-wrap !important;
  }
}