body{
    scroll-behavior: smooth;
    background-color: #ecf0f1;
}

/* Burger *****************/
.burger, .close-menu{
    display: none;
}

nav{
  position: fixed;
  top: 0; 
}

section{  
  background-image: url("../src/images/Bateau_sur_fleuve_nocturne.png"); 
  background-repeat: no-repeat;     
  object-fit: cover;
  color: #fff;
  font-weight: bolder;    
  height: 60rem;
  margin: 10rem 9vw;
}

/* Nouveaux styles pour la page de contact */
#contact-container {
  display: flex;  
  width: 65vw;
  margin: 2rem auto;
}
.h1-contact{
  text-align: center;
  padding: 1.8rem;
}
.contact-title p{
  text-align: center;
  font-size: 1.2rem;
  width: 65%;
  margin: 0 auto;
}
.contact-form {
  flex: 2;
  margin-right: 3rem;
}
#contact-info {
  flex: 1;
}
#contact-info h2{
  margin-bottom: 10%;
}
.contact-form h2, .contact-form h3, #contact-info h2, #contact-info h3{
  white-space: nowrap;
}
#contact-info p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
  
form {
  display: flex;
  flex-direction: column;
}
label {
  margin-top: 1rem;
  font-weight: bold;
}
input, textarea {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.socio-media{
  scale: 1.2;
  margin-left: 8%;  
}

button {
  margin-top: 1rem;
  padding: .7rem 1rem;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: calc(.5vw + .9rem) ;
  transition: background-color 0.3s ease;
}
button:hover {
  background: transparent;
  border: solid 3px var(--secondary-color);
}

input[type="submit"]{
  background-color: var(--secondary-color);
  color: white;
  border: none; 
  font-size: 1.2rem;
  border-radius: 5px;  
  width: 100%;
  margin: 5% 0 -40vh;
}

.newsletter {
  margin: -4rem auto 0 !important;  
}
 
/***************************/
@media (min-width: 375px) and (max-width: 767px){
  .burger {
    position: absolute;
    top: 7% !important;
    left: 50% !important;
  }
  main{
    padding: 0;
  
  }
  .h1-contact{
    text-align: center;
    padding-bottom: 2%;
  }
  .contact-title p, .contact-form h2{
    text-align: center;
  }
  }