:root {
  --primary-color: #2c3e50;
  --secondary-color: #3498db;
  --text-color: #333;
  --background-color: #ecf0f1;
  --light-blue: #87CEEB;
  --medium-blue: #4a90e2;
  --dark-blue: #043b7a;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Banniere header *******************/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 50px;
  width: 100%;  
  position: relative;
} 
.logo_titre{
  display: flex;
  align-items: center;
}
.hero-content {  
  margin-top: -50px;
  z-index: 2;
}
.hero-content .logo {   /* gouvernail */
  width: calc(6vw + 25px);   
  position: relative;
  top: -1vh;
  right: 2vw;
}

/* NAV ****************************/
nav {   
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(52, 152, 219, 0.9);
  height: 100px;
  width: 100%;    
  bottom: 0;  
  z-index: 50;  
  border: 2px solid var(--light-blue);
  border-radius: 10px;   
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
nav ul li {
  margin: 0 1rem;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: calc(.4vw + 20px) !important; 
  transition: color 0.3s ease;
} 

/* Styles btn hamburger */
.hamburger-menu {
  display: none;
}
.hamburger-icon { 
  scale: 2;
  /* position: relative; */
}
.hamburger-icon span {
  /* display: block; */
  /* position: absolute; */
  width: 100%;
}

.hamburger-icon span:nth-child(1) {
  top: 0px;
}
.hamburger-icon span:nth-child(2) {
  top: 8px;
}
.hamburger-icon span:nth-child(3) {
  top: 16px;
}

/* Scroll to top ********************/
#scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: #333;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  border-radius: 50%;
  z-index: 50;
  cursor: pointer;
  border: 2px solid white;
  margin-bottom: 80px;
  color: #fff;
}
#scroll-to-top:hover {
  background-color: var(--secondary-color);
}  
  
footer {
  background: #3498db !important;
  color: white;
  text-align: center;
  padding:  1rem;
  padding-top: 3%;
  font-size: 1.1rem; 
  letter-spacing: 1px;
}

