:root {
  --primary-color: #2c3e50;
  --secondary-color: #3498db;
  --text-color: #333;
  --background-color: #ecf0f1;
  --light-blue: #87CEEB;
  --medium-blue: #4a90e2;
  --dark-blue: #043b7a;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Banniere header *******************/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 50px;
  width: 100%;  
  position: relative;
} 
.logo_titre{
  display: flex;
  align-items: center;
}
.hero-content {  
  margin-top: -50px;
  z-index: 2;
}
.hero-content .logo {   /* gouvernail */
  width: calc(4vw + 35px);   
  position: relative;
  top: -.5vh;  
}

/* NAV ****************************/
nav{   
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: var(--dark-blue) !important;
  background: none;
  height: 100px;
  width: 100%;    
  bottom: 0;  
  z-index: 20;  
  border: none;
  box-sizing: border-box;
}
#menu {
  justify-content: center;  
  width: 100vw;
  height: 10vh;
  border-radius: 8px;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
nav ul li {
  margin: 0 1rem;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: calc(.4vw + 15px) ; 
  transition: color 0.3s ease;
} 

.divider{
  height: 10px;
  background-color:var(--secondary-color);
  width: 80%;
  margin: 0 auto 2rem;
  border-radius: 12px;
}

/* Newsletter *********************/
.newsletter-form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}
.newsletter-form h2 {
  color: var(--secondary-color);
  margin-bottom: 1rem;
}
input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 24px;
  padding-right: 40px;
}
select::-ms-expand {
  display: none;
}
.form-group {
  margin-bottom: 0.5rem !important;
  height: 11vh;
}
.form-group input{
  height: 6vh;
}
label {
  display: block;
  margin-bottom: 0.2rem !important;
  font-weight: bold;
} 
button[type="submit"]{   /* meme btn dans page resa */
  padding: 8px !important;
  letter-spacing: 2px !important;
}

/* Scroll to top ********************/
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  border-radius: 50%;
  z-index: 50;
  cursor: pointer;
  border: 2px solid white;
  margin-bottom: 80px;
  color: #fff;
}
#scroll-to-top:hover {
  background-color: var(--secondary-color);
}  
  
/* Footer *******************/
footer {
  background: #3498db !important;
  color: white;
  text-align: center;
  padding:  1rem;
  padding-top: 3%;
  font-size: calc(2vw + 35%); 
  letter-spacing: 1px;
  height: 20vh;
  overflow-y: hidden;
}
footer p{
  font-size: 1.2rem;  
  white-space: nowrap;  
}

/* social-links **************/
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}
.social-links a {
  color: white;
  font-size: 1.5rem;
  margin: -10px 0.5rem;
  transition: color 0.3s ease;
  padding: 0 10px;
  scale: 1.2;
}
.social-links a:hover {
  scale: 2;
}

/*************************/
@media (min-width: 375px) and (max-width: 767px) {
.newsletter-form {
  width: 90vw;
  margin: 0 auto;
}
.newsletter-form h2 {
  font-size: calc(2vw + .7rem); 
  width: 100%;
  text-align: center;
}
}