body{
    scroll-behavior: smooth;
}
main {
    padding: 2rem 0;
}

/* Burger *****************/
.burger, .close-menu{
    display: none;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
}

.houseboat-details {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}
.houseboat-details h2{
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 20px;
}
.houseboat-image {
    width: 100%;    
    max-height: 60vh;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}
.houseboat-description {
    margin-bottom: 2rem;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.feature-card {
    background-color: var(--background-color);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.feature-card h4 {
    color: var(--medium-blue);
    margin-top: 0;
}

/* CTA */
.cta-boat {
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    border: 3px solid var(--medium-blue);
    border-radius: 15px;
    text-decoration: none;
    color: var(--medium-blue);
    padding: .6rem;    
    font-size: calc(.8vw + 8px);
    width: 30%;
    margin: 0 auto;
}
.cta-boat:hover {
    background-color: #000;
    color: #fff;
}

.img-houseboat {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}
.img-houseboat img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.img-houseboat img:hover {
    transform: scale(1.05);
}

/* Destinations ****************/
.destinations {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}
.destinations h3 {
    color: var(--medium-blue);
}
.destinations ul {
    columns: 2;
    padding-left: 1.5rem;
}

/* Newsletter *********************/
.newsletter {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
    flex-grow: 1;
  }
  .newsletter-form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
  }
  .newsletter-form h2 {
    color: var(--secondary-color);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem; 
  }
  .form-group {
    margin-bottom: 1.5rem;
  }
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
  }
  .form-column {
    flex: 1 1 200px;
    margin: 0 0.5rem 0;
  }
  label {
    display: block; 
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    height: 45%;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 24px; 
    padding: 5px 10px !important;
  }
  select::-ms-expand {
    display: none;
  }
  button[type="submit"] {   /* meme btn dans page resa */
    letter-spacing: 2px !important;
    padding: 8px !important; 
    transition: background-color 0.3s ease;
  }
  button[type="submit"]:hover {
    background-color: #c0392b;
  }

/***************************/
@media (min-width: 768px) and (max-width: 992px){
.cta-boat {
    width: 35%;
}
}

/***************************/
@media (min-width: 375px) and (max-width: 767px){
.burger {    
    display: block;
    color: black !important; 
    left: 49% !important;
}
.houseboat-details h2 {
   margin-top: -8%;
   text-align: center;
   font-weight: 600;
   font-size: calc(2vw + 12px);
}
.houseboat-description p, .feature-card h4{
    text-align: center;
}
.cta-boat {
    width: 55%;
    font-size: 1rem;
    text-align: center;
}
.destinations{
    text-align: center;
}
.destinations h3{
    font-size: calc(1.5vw + .8rem)
}
.destinations ul {    
    list-style-type: none;
    columns: 1;
    padding: 0;
}
footer p{
    font-size: calc(1.5vw + .5rem) !important; 
}
}