body {
  background-color: var(--background-color);
  line-height: 2; /* agit sur les paragraphes */
  scroll-behavior: smooth;   
}
  
/* Burger *****************/
nav{
  position: sticky;
  top: 0;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
nav ul li a {
  font-size: calc(.3vw + 18px) !important; 
}

.search-icon{
  right: 1.4rem !important;
  top: 3rem !important;
}

.burger, .close-menu{
  display: none;
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--medium-blue);
  color: white;  
  height: 17%;
}
.hero-content {  /* gouvernail + nom */
  display: flex;  
  margin-top: 2vh;
}
.hero-content .logo {
  left: 0.5vw;
}
.h1-Loire {
  letter-spacing: 2px;
}

/* Styles pour la loupe et champ special fleuves */
.search-container {
  top: 11vh !important;    
}
.search-input{
  position: relative;
  top: 7.8vh !important;
}
.search-icon{
  margin-top: -1vh;
}
.close-search{ 
  top: 13vh !important;
}

.river-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  /* align-items: start; */
}
.river-description {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.river-description h2{
  text-align: center;
  font-size: calc(1vw + 80%);
  margin-bottom: 2rem;
}

/* Loire - img growth *********************/
.river-gallery{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  /* position: relative; */
}
.river-gallery img{
  cursor: pointer;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  /* transition: transform 0.3s ease; */
}
/* .river-gallery img:hover {
  transform: scale(1.05);
} */

.fullscreen-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
  opacity: 0;
  pointer-events: none; /* nécessaire à l'ouverture de l'image */
  transition: opacity 0.3s ease;
}
.fullscreen-image.active {  /* JS */
  opacity: 1;
  pointer-events: auto;
}
.fullscreen-image img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 5px;
}
.close-button {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  font-size: 50px;
  cursor: pointer;
}

/* highlights ****************/
.highlights { 
  display: flex;
  flex-direction: column;
  background: #fff;
  color: #333;
  border-radius: 10px;
  margin-top: 2rem;
}
.cruising{
  margin: 0 9%; 
  width: 85%;
}
.highlights h2 {
  text-align: center;
  font-size: calc(.6vw + 17px);
  white-space: pre-wrap;
  margin: 2rem;
}
.highlights ul { 
  columns: 2;
  margin-bottom: 5rem;
  gap: 5%;
}
.highlights ul li{
  font-size: calc(.4vw + 14px);
}
.highlights img{
  width: 100%;
}

/* cta ****************/
.cta-resa-loire{
  display: flex;
  justify-content: center;
}
.cta-resa-loire .btn{ 
  background-color: #fff;
  margin-top: 2rem;  
  border: 3px solid var(--medium-blue);
  border-radius: 15px;
}
.cta-resa-loire .btn span{
  color: var(--medium-blue);  
  letter-spacing: 1px;
  font-size: calc(.5vw + 13px); 
}
.cta-resa-loire .btn:hover {
  background-color: var(--primary-color);
}

/*************************/
@media (min-width: 768px) and (max-width: 992px) {
main{
  margin: 0;
}
nav{
  width: 100vw;
  margin: 0 auto;
}
#menu li{
  padding: 0;
  margin-right: 1px !important;   
}
#menu li a{
  white-space: nowrap;
  font-size: calc(1.7vw + .36rem) !important;  
}
.search-container {       
  height: 29%;
}
.search-input{
  top: 2.9rem !important;
}
.search-icon{    
  left: 92vw !important;
}
.close-search {
  top: 10.5vh !important;
}
.river-info{
  width: 95vw;
  margin: 2rem auto;
}
.river-description h2 {  
  margin-bottom: 1rem;
}
.river-gallery{
  display: flex;
  flex-direction: column;
}
.river-gallery img {  
  height: 255px;  
}
.cruising{
  text-align: center;
  width: 80vw;
  margin: 0 auto;
}
.highlights{
  flex-direction: column;  
}
.highlights h2{
  font-size: calc(.3vw + 20px) !important; 
  margin-bottom: 1.5rem;
}
.highlights ul{
  margin: 2rem auto;
  columns: 1;  
  transform: translateX(-3%);
}
.highlights ul li::marker{
  content: ""; 
}
.highlights img{
  width: 90%;
  margin: 0 auto;
}
}

/*************************/
/*************************/
@media (min-width: 375px) and (max-width: 767px) {
.burger {    
  top: 7% !important;
}
.logo_titre img{
  transform: scale(1.3);
}
.logo_titre h1{
  font-size: 2.3rem;
  margin-left: .5rem;
}
nav{
  position: relative;
  top: 0;
}
#menu a{
  font-size: 1.4rem !important;
}
.menu-open .close-menu{
  transform: scale(1.2) !important; 
  right: 2rem;
}
.search-container {    
  top: -12.5vh;  
  height: 30%;
}    
.search-icon{       
  left: 62% !important;  
  top: 105% !important;
}
.close-search {    
  right: 30px;
  top: 12.5vh !important;  
}
.river-description {
  margin-top: -8rem;
}
.river-description h2{
  font-size: 1.5rem !important;
}
.river-description p{
  font-size: 1rem !important;
}
.river-gallery img { 
  height: 338px;
}
.fullscreen-image img {
  max-width: 90%;
  max-height: 90%;
  min-height: 90% !important;
  object-fit: cover;
  border-radius: 5px;
}

/* Fleuves ************************/
.river-info {
  grid-template-columns: 1fr;
}
.river-info h2, .river-info p{
  text-align: center;
}
.river-gallery {
  grid-template-columns: 1fr;
}
.highlights ul{  
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px; 
  margin-left: 5vw !important; 
  padding: 0;  
}
.highlights ul li{
  text-align: center;
  margin-right: 2rem;
}
.highlights ul li::marker{
  content: ""; 
}
.highlights img{
  width: 100%;    
}
.cta-resa-loire span{
  font-size: calc(1.8vw + .5rem) !important; 
}
footer p{
  font-size: calc(1.7vw + .4rem) ;
}
}